# Environment
.env
.venv
venv/
env/
__pycache__/
*.pyc

# Django specific
db.sqlite3
media/
staticfiles/

# ML Model files
*.h5

# Node
node_modules/
dist/
build/
.npm

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
